<div id="registration-container">
  <h2>Sign in</h2>

  <%= form_for resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "well" } do |f| %>
    <div class="control-group">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <div class="control-group">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="control-group">
      <%= f.submit "Sign in", :class => "btn" %>
      <label class="checkbox pull-right">
        <%= f.check_box :remember_me %>
        Remember me
      </label>
    </div>
  <% end %>
</div>
