<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to 'Aggregate', root_path, :class => "brand" %>
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse">
          <% if user_signed_in? %>
            <ul class="nav">
              <li class="divider-vertical"></li>
              <% if current_user.authentications.any? %>
                <li><%= link_to "Feed", feed_path %></li>
                <li class="divider-vertical"></li>
              <% end %>
              <%= render "layouts/components/missing_providers" %>
            </ul>
          <% end %>
          <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            <% if user_signed_in? %>
              <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <li class="divider-vertical"></li>
              <li><%= link_to "Sign In", new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
    </div>
  </div>
</div>
